@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-colors;
  }
  
  .btn-primary {
    @apply bg-emerald-600 text-white hover:bg-emerald-700;
  }
  
  .btn-outline {
    @apply border-2 border-white text-white hover:bg-white/10;
  }
}

@font-face {
  font-family: 'Adelia';
  src: url('/fonts/adelia.otf') format('opentype'),
       url('/fonts/adelia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-01.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-adelia {
  font-family: 'Adelia', sans-serif;
}

body {
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.text-shandow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.nav-color{
  background-color: rgba(0, 0, 0, 0.25);
}

.h-bg{
  height: 90vh;
}

.bg-transparentee {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}